<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>loan Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>loan Management</h1>
</body>
</html>